.footer {
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: purple;
    color: white;
    position: sticky;
    bottom: 0;
}

.footer p {
    margin: 0;
}