* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.layout {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding: 30px;
}